{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{{title}}/{{chapter}}</title>

        <script>
        window.MathJax = {
            loader: {load: ['[tex]/physics']},
            tex: {packages: {'[+]': ['physics']}},
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg:{
                scale: 15
            },
            options:{
                skipHtmlTags: [
                    'script', 'noscript', 'style', 'textarea', 'pre', 'code', 'annotation', 'annotation-xml'
                ],
                processHtmlClass: 'selectedLatexChildCell',
                // ignoreHtmlClass: 'tex2jax_ignore'
            }

        }// Mathjax
        </script>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/atom-one-dark.min.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js"></script>

        <link rel="stylesheet" href="{% static 'equationList/css/pdfNote/pdfNote.css' %}">
        <link rel="stylesheet" href="{% static 'equationList/css/pdfNote/referenceTab.css' %}">
        <!-- <script src="https://polyfill.io/v3/polyfill.js?features=es6"></script> -->

        <style>
            .MathJax{
                font-size: 20px!important;

            }
        </style>

    </head>
    <body>
        <div class="latexCommand">
            \(\require{physics}\)
            \(\usepackage{gensymb}\)
        </div>
        {{ room_name|json_script:"room-name" }}



        <div class="navBar">
            <div class="functionButton">
                <div class="functionFirstLine">
                    <button class="newPageButton">create New Note</button>
                    <button class="saveButton">save Butotn</button>
                    <button class="sizeSwitch"> switch size </button>
                    <button class="flashCardOpen">flashCardOpen</button>
                    <button class="saveCurrentPosition">savePosition</button>
                    <button class="goToPosition">goToPosition</button>
                    <button class="leftSide focus">L</button>

                    <button class="showQuestionButton">show Questions</button>
                    <button class="greMode">greMode</button>

                    <a href="{% url 'tocPage' %}">to TOC</a>
                    <input class="tabSearchForm">
                        
                    </input>
                </div> <!--functionFirstLine  -->

                <div class="functionSecondLine">
                    <div class="leftTabBookmarkArea">
                    </div>
                    <div class="rightTabBookmarkArea">
                    </div>
                </div><!-- functionSecondLine -->
            </div><!-- functionButton -->
        </div> <!-- navBar -->

        <div id="pageWrapper"></div>
    </body>



    <script type="text/javascript">
        let csrf_token = "{{ csrf_token }}"
        let url = "{% url 'processData' %}"
        let load = "{{load}}"
        let docTitle = "{{title}}"
        let docChapter = "{{chapter}}"
        let CHAT_USER_ID = null
        let LOADACTION = "load state"

    </script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            font-size: "1.5em",
            tex2jax: {ignoreClass: "latexMotherCell"}
          CommonHTML: { linebreaks: { automatic: true } },
          "HTML-CSS": { linebreaks: { automatic: true } },
                 SVG: { linebreaks: { automatic: true } },
                 ignoreHtmlClass: 'mathjax_ignore'
                 // ignoreClass: "mathjaxTarget"
        });
        window.MathJax = {
          loader: {load: ['[tex]/physics']},
          tex: {packages: {'[+]': ['physics']}}
        };
    </script>

    <script src="{% static 'equationList/js/pdfNote/socketAction.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/EventChain.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/Event.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/Toolbox.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/Section.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/Annotation.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/Cell.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/Tabs.js' %}" charset="utf-8"></script>
    <script src="{% static 'equationList/js/pdfNote/windowManager.js' %}" charset="utf-8"></script>

    <script src="{% static 'equationList/js/pdfNote/master.js' %}" charset="utf-8"></script>


</html>
