body {
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.latexCommand {
  display: none;
}

.tabBar {
  min-height: 40px;
  width: 49.5vw;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.tabBar .tabButton {
  padding: 10px;
  display: inline-block;
}
.tabBar .selectedTabButton {
  background: yellow;
}

.tabBar_left {
  background: Azure;
}

.tabBar_right {
  background: Gainsboro;
}

.tabWindow {
  width: 50vw;
  overflow-x: hidden;
}

.navBar {
  background: green;
  height: 80px;
}
.navBar .functionButton {
  display: block;
  padding: 10px 10px;
}
.navBar .functionButton .functionFirstLine, .navBar .functionButton .functionSecondLine {
  padding: 5px 0px;
}

.popUpBox {
  background: yellow;
}
.popUpBox .popUpBoxQuestionText {
  padding: 30px;
}
.popUpBox .popUpBoxAnswerPart {
  width: 80%;
  text-align: center;
}
.popUpBox .popUpBoxAnswerPart .popUpBoxChoice {
  display: "inline-block";
  width: "40%";
  margin: "auto";
  text-align: "center";
}

#pageWrapper {
  position: relative;
  overflow-y: hidden;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: Olive;
  height: 100vh;
  overflow-y: scroll;
}
#pageWrapper .left, #pageWrapper .right {
  height: 100vh;
  position: relative;
}
#pageWrapper .left .toolBox, #pageWrapper .right .toolBox {
  background: aliceblue;
  position: absolute;
  right: -60px;
  top: 20px;
  z-index: 100;
}
#pageWrapper .left .toolBox .toolBoxButton, #pageWrapper .right .toolBox .toolBoxButton {
  width: 90%;
  margin: 10px auto;
  text-align: center;
}
#pageWrapper .right {
  width: 49vw;
}
#pageWrapper .right .toolBox {
  background: grey;
  left: -60px;
  z-index: 100;
}
#pageWrapper .titleField, #pageWrapper .chapterField {
  margin: 10px;
}
#pageWrapper .latexMotherCell {
  padding: 10px;
}
#pageWrapper .latexChildCell {
  font-size: 20px;
  padding: 10px;
}
#pageWrapper .noteInfo, #pageWrapper .saveButton {
  margin: 8px;
}
#pageWrapper img {
  margin: 20px 0px;
  width: 100%;
}
#pageWrapper .cell.sectionTitle h2 {
  text-align: center;
  font-size: 35px;
}
#pageWrapper .cell.sectionTitle button.sectionTitle {
  background: yellow;
}
#pageWrapper .cell, #pageWrapper .selectedCell {
  width: 95%;
  margin: 40px auto;
  background: BurlyWood;
  padding: 10px;
}
#pageWrapper .cell .cellTitle, #pageWrapper .selectedCell .cellTitle {
  margin: 10px;
}
#pageWrapper .cell .cellControlPanel .cellSectionInput, #pageWrapper .selectedCell .cellControlPanel .cellSectionInput {
  width: 30px;
}
#pageWrapper .cell .annotation, #pageWrapper .selectedCell .annotation {
  padding-top: 10px;
  position: relative;
  width: 100%;
}
#pageWrapper .cell .annotation .annotationSelectBox, #pageWrapper .selectedCell .annotation .annotationSelectBox {
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 9%;
  right: 6%;
}
#pageWrapper .cell .annotation .annotationSelectBox [data-selected=false], #pageWrapper .selectedCell .annotation .annotationSelectBox [data-selected=false] {
  background-color: white;
}
#pageWrapper .cell .annotation .annotationSelectBox[data-selected=true], #pageWrapper .selectedCell .annotation .annotationSelectBox[data-selected=true] {
  background-color: red;
}
#pageWrapper .cell .annotation .annotationSelectBox[data-selected=false], #pageWrapper .selectedCell .annotation .annotationSelectBox[data-selected=false] {
  background-color: white;
}
#pageWrapper .cell [data-level=easy], #pageWrapper .selectedCell [data-level=easy] {
  background: #66ff33;
}
#pageWrapper .cell [data-level=medium], #pageWrapper .selectedCell [data-level=medium] {
  background: #66ccff;
}
#pageWrapper .cell [data-level=difficult], #pageWrapper .selectedCell [data-level=difficult] {
  background: #b20039;
}
#pageWrapper .cell .annotationControlPanel, #pageWrapper .selectedCell .annotationControlPanel {
  margin: 5px 28px;
}
#pageWrapper .cell .annotationContent, #pageWrapper .selectedCell .annotationContent {
  background-color: wheat;
  min-height: 10vh;
  margin: 10px;
  padding: 8px;
  width: 90%;
  font-size: 20px;
}
#pageWrapper .cell .annotationContent input, #pageWrapper .selectedCell .annotationContent input {
  display: block;
}
#pageWrapper .cell .annotationContent .useful.addToUseful, #pageWrapper .selectedCell .annotationContent .useful.addToUseful {
  background: yellow;
}
#pageWrapper .cell .annotationContent .latexChildCell, #pageWrapper .selectedCell .annotationContent .latexChildCell {
  margin-top: 10px;
  min-height: 30px;
}
#pageWrapper .cell .annotationContent .latexChildCell *, #pageWrapper .selectedCell .annotationContent .latexChildCell * {
  pointer-events: none;
}
#pageWrapper .cell .annotation:focus, #pageWrapper .selectedCell .annotation:focus {
  background-color: white;
}
#pageWrapper .selectedCell {
  border: 2px red solid;
}
#pageWrapper .cell[sectionlevel="0"] .cellTitle {
  font-size: 30px;
  text-align: center;
}
#pageWrapper .cell[sectionLevel="1"] .cellTitle {
  font-size: 25px;
}
#pageWrapper .sectionContainer {
  background: PaleGreen;
  height: 100vh;
  overflow-y: scroll;
}
#pageWrapper .sectionContainer .sectionWrapper .section {
  cursor: pointer;
}
#pageWrapper .sectionContainer .sectionWrapper .level_0 {
  font-size: 30px;
  margin: 5px 30px;
}
#pageWrapper .sectionContainer .sectionWrapper .level_1 {
  font-size: 25px;
  margin: 5px 60px;
}
#pageWrapper .sectionContainer .sectionWrapper .level_2 {
  font-size: 25px;
  margin: 5px 90px;
}

/*# sourceMappingURL=pdfNote.css.map */
