body {
    height:100vh;
    position: absolute;
    top: 0px;
    left: 0px;
}
.latexCommand{
    display: none;

}


.tabBar{
    min-height: 40px;
    width:50vw;

    .tabButton{
        padding: 10px;
        display: inline-block;
    }

    .selectedTabButton {
        background: yellow;
    }
}
.tabBar_left {
    background: Azure;
}
.tabBar_right {
    background: Gainsboro;
}

.tabWindow{
    overflow-x: hidden;
}

.navBar{
    background: green;
    height: 80px;
    .functionButton{
        display: block;
        padding: 10px 10px;

        .functionFirstLine, .functionSecondLine{
            padding: 5px 0px;
        }
    }
}// .navBar


.popUpBox{
    background: yellow;

    .popUpBoxQuestionText{
        padding: 30px;
    }

    .popUpBoxAnswerPart{
        width: 80%;
        text-align: center;

        .popUpBoxChoice{
            display: "inline-block";
            width: "40%";
            margin: "auto";
            text-align: "center";
        }

    }
}


$containerHeight: 92vh;
#pageWrapper{
    position: relative;
    overflow-y: hidden;
    top: 0;
    left: 0;
    display: grid;

    grid-template-columns: 1fr 1fr;

    .left, .right {
        height: 100vh;
    }
    .right{
        width: 49vw;
    }



    .noteContainer{
        .titleField, .chapterField{
            margin: 10px;
        }

        background-color: Olive;
        height: 100vh;
        // width: 50vw;
        overflow-y: scroll;

        .latexMotherCell{
            padding: 10px
        }
        .latexChildCell{
            font-size: 20px;
            padding: 10px;
        }


        .noteInfo, .saveButton{
            margin: 8px;
        }


        img{
            margin: 20px 0px;
            width: 100%;
        }

        .cell.sectionTitle  {
            h2 {
                text-align: center;
                font-size: 35px;
            }

            button.sectionTitle {
                background: yellow;
            }
        }



        .cell, .selectedCell{
            width: 95%;
            margin: 40px auto;
            background: BurlyWood;
            padding: 10px;



            .cellTitle {
                margin: 10px
            }

            .cellControlPanel{
                .cellSectionInput{
                    width: 30px;
                }
            }

            .annotation{
                padding-top: 10px;
                position: relative;
                width: 100%;
                .annotationSelectBox{
                    width: 25px;
                    height:25px;
                    position: absolute;
                    bottom: 9%;
                    right: 6%;

                    [data-selected="false"]{
                        background-color: white
                    }
                }

                .annotationSelectBox[data-selected="true"]{
                    background-color: red
                }
                .annotationSelectBox[data-selected="false"]{
                    background-color: white
                }



            }
            [data-level="easy"]{
                background: rgb(102, 255, 51)
            }
            [data-level="medium"]{
                background: rgb(102, 204, 255)
            }
            [data-level="difficult"]{
                background: rgba(178, 0, 57, 1)
            }

            .annotationControlPanel{
                margin: 5px 28px;
            }
            .annotationContent{
                background-color: wheat;
                min-height: 10vh;
                margin: 10px;
                padding: 8px;
                width: 90%;
                font-size: 20px;
                input {
                    display: block;
                }

                .useful.addToUseful{
                    background: yellow;
                }

                .latexChildCell{
                    margin-top: 10px;
                    min-height: 30px;
                    * {
                        pointer-events: none;

                    }
                }
            }

            .annotation:focus{
                background-color: white;
            }
        }

        .selectedCell{
            border: 2px red solid;
        }
    }

    .cell[sectionlevel="0"]{
        .cellTitle{
            font-size: 30px;
            text-align:center;
        }
    }

    .cell[sectionLevel="1"]{
        .cellTitle{
            font-size: 25px;
        }
    }


    .bookmarkContainer{
        display: none;
        width: 25%;
        height: 90%;
        position: fixed;
        top: 75px;
        left: 25%;
        background: pink;
        z-index: 100;

        .bookmarkPanel{

            background : gold;
            width: 20vw;
            height: 75vh;
            position: relative;
            left: 6%;
            top: 10%;
            overflow-y: scroll;
            padding: 15px;

            .bookmarkTitle{
                margin-bottom: 10px;
            }
        }


    }
    $baseMargin: 30px;
    .sectionContainer{
        background: PaleGreen;
        height: 100vh;
        overflow-y: scroll;


        .sectionWrapper{
            .section{
                cursor: pointer;
            }

            .level_0{
                font-size: 30px;
                margin: 5px $baseMargin;
            }

            .level_1{
                font-size: 25px;
                margin: 5px $baseMargin * 2;
            }

            .level_2{
                font-size: 25px;
                margin: 5px $baseMargin *3;
            }


            // width: 100%;

        }
    }
}
