body {
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}

.latexCommand {
  display: none;
}

.tabBar {
  min-height: 40px;
  width: 50vw;
}
.tabBar .tabButton {
  padding: 10px;
  display: inline-block;
}
.tabBar .selectedTabButton {
  background: yellow;
}

.tabBar_left {
  background: Azure;
}

.tabBar_right {
  background: Gainsboro;
}

.navBar {
  background: green;
  height: 80px;
}
.navBar .functionButton {
  display: block;
  padding: 10px 10px;
}
.navBar .functionButton .functionFirstLine, .navBar .functionButton .functionSecondLine {
  padding: 5px 0px;
}

#pageWrapper {
  position: relative;
  overflow-y: hidden;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#pageWrapper .left, #pageWrapper .right {
  height: 100vh;
}
#pageWrapper .noteContainer {
  background-color: Olive;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
#pageWrapper .noteContainer .titleField, #pageWrapper .noteContainer .chapterField {
  margin: 10px;
}
#pageWrapper .noteContainer .latexMotherCell {
  padding: 10px;
}
#pageWrapper .noteContainer .latexChildCell {
  font-size: 20px;
  padding: 10px;
}
#pageWrapper .noteContainer .noteInfo, #pageWrapper .noteContainer .saveButton {
  margin: 8px;
}
#pageWrapper .noteContainer img {
  margin: 20px 0px;
  width: 100%;
}
#pageWrapper .noteContainer .cell.sectionTitle h2 {
  text-align: center;
  font-size: 35px;
}
#pageWrapper .noteContainer .cell.sectionTitle button.sectionTitle {
  background: yellow;
}
#pageWrapper .noteContainer .cell, #pageWrapper .noteContainer .selectedCell {
  width: 95%;
  margin: 40px auto;
  background: BurlyWood;
  padding: 10px;
}
#pageWrapper .noteContainer .cell .cellTitle, #pageWrapper .noteContainer .selectedCell .cellTitle {
  margin: 10px;
}
#pageWrapper .noteContainer .cell .cellControlPanel .cellSectionInput, #pageWrapper .noteContainer .selectedCell .cellControlPanel .cellSectionInput {
  width: 30px;
}
#pageWrapper .noteContainer .cell .annotation, #pageWrapper .noteContainer .selectedCell .annotation {
  padding-top: 10px;
}
#pageWrapper .noteContainer .cell [data-level=easy], #pageWrapper .noteContainer .selectedCell [data-level=easy] {
  background: #66ff33;
}
#pageWrapper .noteContainer .cell [data-level=medium], #pageWrapper .noteContainer .selectedCell [data-level=medium] {
  background: #66ccff;
}
#pageWrapper .noteContainer .cell [data-level=difficult], #pageWrapper .noteContainer .selectedCell [data-level=difficult] {
  background: #b20039;
}
#pageWrapper .noteContainer .cell .annotationControlPanel, #pageWrapper .noteContainer .selectedCell .annotationControlPanel {
  margin: 5px 28px;
}
#pageWrapper .noteContainer .cell .annotationContent, #pageWrapper .noteContainer .selectedCell .annotationContent {
  background-color: wheat;
  min-height: 10vh;
  margin: 10px;
  padding: 8px;
  width: 90%;
  font-size: 20px;
}
#pageWrapper .noteContainer .cell .annotationContent input, #pageWrapper .noteContainer .selectedCell .annotationContent input {
  display: block;
}
#pageWrapper .noteContainer .cell .annotationContent .useful.addToUseful, #pageWrapper .noteContainer .selectedCell .annotationContent .useful.addToUseful {
  background: yellow;
}
#pageWrapper .noteContainer .cell .annotationContent .latexChildCell, #pageWrapper .noteContainer .selectedCell .annotationContent .latexChildCell {
  margin-top: 10px;
  min-height: 30px;
}
#pageWrapper .noteContainer .cell .annotationContent .latexChildCell *, #pageWrapper .noteContainer .selectedCell .annotationContent .latexChildCell * {
  pointer-events: none;
}
#pageWrapper .noteContainer .cell .annotation:focus, #pageWrapper .noteContainer .selectedCell .annotation:focus {
  background-color: white;
}
#pageWrapper .noteContainer .selectedCell {
  border: 2px red solid;
}
#pageWrapper .cell[sectionlevel="0"] .cellTitle {
  font-size: 30px;
  text-align: center;
}
#pageWrapper .cell[sectionLevel="1"] .cellTitle {
  font-size: 25px;
}
#pageWrapper .bookmarkContainer {
  display: none;
  width: 25%;
  height: 90%;
  position: fixed;
  top: 75px;
  left: 25%;
  background: pink;
  z-index: 100;
}
#pageWrapper .bookmarkContainer .bookmarkPanel {
  background: gold;
  width: 20vw;
  height: 75vh;
  position: relative;
  left: 6%;
  top: 10%;
  overflow-y: scroll;
  padding: 15px;
}
#pageWrapper .bookmarkContainer .bookmarkPanel .bookmarkTitle {
  margin-bottom: 10px;
}
#pageWrapper .sectionContainer {
  background: PaleGreen;
  height: 92vh;
  overflow-y: scroll;
}
#pageWrapper .sectionContainer .sectionWrapper .level_0 {
  font-size: 25px;
  margin: 5px;
}

/*# sourceMappingURL=pdfNote.css.map */
