{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="{% static 'equationList/css/pdfEditor/pdfEditor.css' %}">
    </head>

    <style>
        .dropzone {
          border: 5px solid blue;
          width:  200px;
          height: 100px;
        }
    </style>
    <body>

        <div class="dropZone">

        </div>

        <div class="filePreview">

        </div>

    </body>
    <script src="{% static 'equationList/js/pdfEditor/pdfEditor.js' %}" charset="utf-8"></script>
</html>
